<style>
    .sec_pdl{
        display: none!important;
    }
</style>
{% extends "PRODUCT_LISTING/navbar.html" %} {% load static %} {% load cart_template_tags %} {% block title %} {% endblock title %} {% block body %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- profile link -->

<!-- alrt -->

<!-- alrt -->
<!-- tailwind -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
<!-- tailwind -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

</div>

<!-- back btn -->
<input type=button value="Previous Page" onClick="javascript:history.go(-1);">
<!-- back btn -->
<!-- product listing page -->



    <hr>
    <div class="form-row">

        <div class="col-md-4">
            <label for="Category">Category :</label>
            
            
            
            {{object_list1.Category}}
        </div>
        
        <div class="col-md-4">
            
            <label for="Category">Sub_Category :</label>
            
            <select name="Sub_Category" id="Sub_Category" onchange="location = this.value;">
                <option value="">select</option>
                {% for item in object_list %}  
                
                <option value="{{item.get_sub_cat}}">{{ item.Sub_Category }} </option>
                
                {% endfor %}
                
            </select>
            
        </div>
        
    </div>
    

<!-- top nav js  -->
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<!-- top nav js  -->
{% endblock body %}