<style>
    .form1 {
        position: relative!important;
        top: 70px!important;
        padding: 20px;
    }
</style>
{% extends "base.html" %} {% load static %} {% load cart_template_tags %} {% block title %} {% endblock title %} {% block body %}


<form class="form1" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="seller_name" id="seller_name">
    </div>

    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
          Request to be seller
        </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
{% endblock body %}