<div>

    {% for item in add_data %}
    <h1>{{item.item}}</h1>
    <h1>{{item.item}}</h1>
    <input type="text">
    <h1>{{item.item.seller}}</h1>
    <h1>{{item.item}}</h1>
    <h1>{{item.item}}</h1>
    <h1>{{item.item}}</h1>
    {% endfor %}
</div>
<div>

   
</div>
<div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{ order.items.count }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">
        {% for item in ORDERS %}
        <h1>{{item.item}}</h1>
        <h1>{{item.item}}</h1>
        <input type="text">
        <h1>{{item.item.seller}}</h1>
        <h1>{{item.item}}</h1>
        <h1>{{item.item}}</h1>
        <h1>{{item.item}}</h1>
        {% endfor %}
    </ul>



</div>